@import '../resets';

.art-card-section {
	margin-bottom: 7em;
	position: relative;

	.nav-btn-wrap {
		display: none;
	}

	.container {
		display: grid;
		gap: 2em;
		margin-bottom: 4em;

		.art-card {
			height: 300px;
			width: 100%;
			background: #000;
			color: $light;
			padding: 1em 0;

			.img-wrap {
				height: 200px;
				width: 100%;

				.img {
					height: 100%;
					width: 100%;
				}
			}

			.wrapper {
				width: 90%;
				margin: 0 auto;
			}
		}
	}

	.text-wrap {
		width: 90%;
		margin: 0 auto;

		.text {
			text-align: center;
			@include subtext();

			.highlight {
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}

	@media screen and (min-width: 62em) {
		.nav-btn-wrap {
			// background: red;
			display: block;

			button {
				position: absolute;
				height: 300px;
				width: 50px;
				cursor: pointer;
				background: transparent;
				color: $light;
				border: none;
				transition: all 0.5s ease-in-out;

				i {
					font-size: 2rem;
				}

				&:hover {
					color: rgb(119, 119, 119);
				}
			}

			.left {
				left: 0;
			}

			.right {
				right: 0;
			}
		}

		.container {
			grid-auto-flow: column;
			grid-auto-columns: 300px;
			overflow-x: hidden;
			overflow-x: scroll;
			padding: 3em 1em;
			gap: 1em;
		}
	}
}
