@import '../resets';

.catalog-section {
	.container {
		display: grid;
		gap: 1em;

		.art-wrap {
			position: relative;
			background: #000;
			height: 500px;
			width: 100%;
			padding: 1em;
			padding-bottom: 2em;

			&::after {
				content: '';
				position: absolute;
				inset: 0;
			}

			.wrapper {
				.img-wrap {
					height: 300px;
					margin-bottom: 1em;

					.img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}

				.title {
					// color: $light;
					text-transform: uppercase;
					position: relative;
					z-index: 1;
				}

				.description {
					position: relative;
					z-index: 1;

					p {
						// color: $light;
					}
				}

				.price {
					// color: $light;
				}
			}
		}

		@media screen and (min-width: 43em) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (min-width: 62em) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
